# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
**/__pycache__/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Database files
*.db
*.sqlite3

# Logs
*.log