annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
boto3==1.40.24
camel-converter==5.1.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
colorama==0.4.6
elastic-transport==8.17.1
elasticsearch==8.19.3
elasticsearch-dsl==8.18.0
fastapi==0.135.1
greenlet==3.3.2
h11==0.16.0
httpx==0.28.1
idna==3.11
meilisearch==0.40.0
numpy==2.4.3
pandas==3.0.1
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.32.5
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.48
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.42.0
python-multipart